body {
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  margin: 0 0 70px 0;
  font-size: 42px;
  font-weight: 300;
}
.letter {
  margin: 0 12px;
}

.chapter-header {
  font-size: 32px;
  margin: 40px 0;
  font-weight: 300;
}

.paras {
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 18px;
}

.outro {
  font-weight: 200;
  padding: 10px 0 0 30px;
  font-style: italic;
}

