html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/images/white-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.warning-div {
  /* height: 70px; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  letter-spacing: 6px;
}

.contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;

}

.contact {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.contact-logos {
 width: 30px;
 margin-right: 10px;
 margin-top: 3px;
}

.contact-info {
  font-size: 25px;
}

.contact-direct-link {
  color: #0A3D62;
  text-decoration: none;
}

.contact-name {
  font-weight: bold;
}

.contact-info-ul {
  text-decoration: underline;
}

.thank-you-div {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #3e3c55c7; */
  background-image: url("/images/blue-bg-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #def2ff;
  letter-spacing: 15px;
  box-shadow: 0 -4px 40px #283972c2;
}

@media (max-width:900px) {
  .contact-logos {
    width: 30px;
  }

  .contact-info {
    font-size: 20px;
  }
  
  .contacts {
    align-items: start;
  }
}